<!-- The content below is only a placeholder and can be replaced. -->

<div class="container">
    <div style="text-align:center">
        <h1>{{ title }}</h1>

        <img
            width="250"
            alt="image"
            src="assets/logohome.png"
        >
    </div>

    <h2 style="padding: 40px">¿Que desea hacer?</h2>

    <a
        routerLink="/game"
        class="btn btn-primary btn-lg"
        role="button"       
        style="margin-right: 5px"
    >Ir al Juego</a>

    <a
    routerLink=""
        class="btn btn-secondary btn-lg"
        role="button"       
    >Ver puntuaciones</a>
</div>
<div class="container" style="text-align:left">
    <hr>
    <h5>El juego se encuentra aun <b>en fase Alpha</b>, por lo que existen limitaciones como que aun no hemos desarrollado el menú de Ver Puntuaciones, y el sistema <b>no reconoce palabras del diccionario con tildes</b>, por lo que en caso de deducir que se trata de una palabra con tilde, lo mejor será <b>refrescar el juego</b>. Sentimos las molestias.</h5>
</div>
